.fromDiv{
    width: 100%;
    background: rgba(216, 117, 47, 0.75);
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: serif;
    font-size: 1rem;
}
 
.form {
  display: flex;
  flex-direction: column;
  justify-Content: center;
  text-Align: center;
  max-Width: 15rem;
  margin-Bottom: 2rem;
  padding-top: 1rem;
  color: black;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
}

.button{
    font-family: serif;
    height: 2rem;
    border-radius: 2px;
    border: 2px solid #555555;
    margin-top: 0.2rem;
}
